@using ThinkGeo.MapSuite
@using ThinkGeo.MapSuite.Drawing
@using ThinkGeo.MapSuite.Layers
@using ThinkGeo.MapSuite.Shapes
@using ThinkGeo.MapSuite.Styles;
@using ThinkGeo.MapSuite.Mvc;
@model System.Collections.ObjectModel.Collection<CSharp_HowDoISamples.HotelInfomation>
<script language="javascript" type="text/javascript">
    function RowClick(id) {
        Map1.ajaxCallAction('@ViewContext.RouteData.Values["Controller"].ToString()', 'HighlighHotel', { 'featureid': id }, function () {
            var layer = Map1.getLayer("dynamic");
            layer.redraw(true);

            var dataInfo = document.getElementById("dataInfo");
            for (var i = 0; i < dataInfo.rows.length; i++) {
                if (dataInfo.rows[i].id == id) {
                    dataInfo.rows[i].style.backgroundColor = "#2E9AFE";
                }
                else {
                    dataInfo.rows[i].style.backgroundColor = "white";
                }
            }
        });
    }

    function mapClick(e) {
        Map1.ajaxCallAction('@ViewContext.RouteData.Values["Controller"].ToString()', 'HighlighPoint', { 'x': e.worldXY.lon, 'y': e.worldXY.lat }, function (result) {
            var id = result.get_responseData();
            var layer = Map1.getLayer("dynamic");
            layer.redraw(true);

            var dataInfo = document.getElementById("dataInfo");
            for (var i = 0; i < dataInfo.rows.length; i++) {
                if (dataInfo.rows[i].id == id) {
                    dataInfo.rows[i].style.backgroundColor = "#2E9AFE";
                }
                else {
                    dataInfo.rows[i].style.backgroundColor = "white";
                }
            }
        });
    }
</script>
<div class="four columns" id="navigation">
    @{Html.RenderPartial("SourceCode");}
    <div id="instrux-body">
        <div id="instrux-text">
            <p>
                Please click on a point of the map, and then you will see the corresponding item highlighted
                in the GridView. Or vice-versa; you can click on an item in the GridView and you
                will see its feature highlighted on the map.
            </p>
            @if (Model != null)
            {
                <table id="dataInfo" cellspacing="0" style="border: 1px solid #cccccc;">
                    <tr>
                        <td style="border: 1px solid #cccccc; background: #aaaaaa;">
                            Name
                        </td>
                        <td style="border: 1px solid #cccccc; background: #aaaaaa;">
                            Rooms
                        </td>
                    </tr>
                    @foreach (var hotel in Model)
                    {
                        <tr id="@hotel.FeatureId" onclick="RowClick('@hotel.FeatureId');">
                            <td style="border:1px solid #cccccc;">
                                @hotel.Name
                            </td>
                            <td style="border:1px solid #cccccc;">
                                @hotel.Rooms.ToString(System.Globalization.CultureInfo.InvariantCulture)
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>
<div class="twelve columns" id="main">
    <div>
        @{Html.ThinkGeo().Map("Map1", new System.Web.UI.WebControls.Unit(100, System.Web.UI.WebControls.UnitType.Percentage), 510)
          .MapBackground(new GeoSolidBrush(GeoColor.FromHtml("#E5E3DF")))
          .MapUnit(GeographyUnit.DecimalDegree)
          .CurrentExtent(22.2473182740176, 53.6719605956201, 22.3463987631243, 53.5351793894213)
          .CustomOverlays(overlays =>
          {
              overlays.WorldMapKitWmsWebOverlay();

              InMemoryFeatureLayer highLightLayer = new InMemoryFeatureLayer();
              highLightLayer.ZoomLevelSet.ZoomLevel01.DefaultPointStyle = PointStyles.CreateSimpleCircleStyle(GeoColor.SimpleColors.Yellow, 12);
              highLightLayer.ZoomLevelSet.ZoomLevel01.ApplyUntilZoomLevel = ApplyUntilZoomLevel.Level20;

              ShapeFileFeatureLayer shapeLayer = new ShapeFileFeatureLayer(Url.RequestContext.HttpContext.Server.MapPath(@"~/App_Data/Hotels.shp"));
              shapeLayer.ZoomLevelSet.ZoomLevel01.DefaultPointStyle = PointStyles.CreateSimpleCircleStyle(GeoColor.SimpleColors.Red, 10);
              shapeLayer.ZoomLevelSet.ZoomLevel01.ApplyUntilZoomLevel = ApplyUntilZoomLevel.Level20;

              overlays.LayerOverlay("dynamic").Layer("points", shapeLayer).Layer("highlight", highLightLayer).IsBaseOverlay(false);
          })
          .OnClientClick("mapClick")
          .Render(); }
    </div>
</div>
